<h3>URL Builder</h3>
<p class="flow-text">URL Builder is an injectable service which helps to build a complete resource URL from service configuration and given URL parameters.
The service's configuration has to be defined with an object of the RemoteApiConfiguration interface.</p>
<table>
  <thead>
  <tr>
    <th data-field="id">Property Name</th>
    <th data-field="name">Property Value</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>protocol</td>
    <td>{{protocol}}</td>
  </tr>
  <tr>
    <td>host</td>
    <td>{{host}}</td>
  </tr>
  <tr>
    <td>contextPath</td>
    <td>{{contextPath}}</td>
  </tr>
  <tr>
    <td>resourcePath</td>
    <td>{{resourcePath}}</td>
  </tr>
  <tr>
    <td>URL</td>
    <td>{{url}}</td>
  </tr>
  </tbody>
</table>
